# Fechas Entregas

#### ·18 Octubre Miércoles tema, hipótesis y datasets.
#### ·25 de Octubre Miércoles a las 9.00h repositorio de github.
#### ·26 Octubre Jueves a las 09.00h archivo presentacion en classroom y presentación de 10 min meet.

es la más rentable? sera rapido de demostrar ingresos vs costos
influencia social?
critica social
critica criticos

consejos, tener temática, coger muchos datos, despues hacernos preguntas. 

impacto en RRSS de los actores antes o despues de una peli.

puntuacion antes vs puntuacion actual.

buscador de google de datasets

estudio sobre cuanto mas se valoran las pelis ahora , especie de compensacion.

calculo o relacion de la inflacion entre la inversion y presupuesto y beneficios. 

precio de las peliculas de cine actualmente.

tutoria santi:

de lo general                   a                lo particular
todo el espacio cinematografico a en concreto SW y pelis individuales

In [1]:
import numpy as np
import pandas as pd

In [20]:
df1 = pd.read_csv("data/MovieFranchises.csv")

In [23]:
df1 = df1.drop("index", axis=1)

In [25]:
df1.head()

,MovieID,Title,Lifetime Gross,Year,Studio,Rating,Runtime,Budget,ReleaseDate,VoteAvg,VoteCount,FranchiseID
0,1001,Star Wars: Episode IV - A New Hope,775398007,1977,Lucasfilm,PG,121.0,11000000.0,05-25-77,4.09,96233.0,101.0
1,1002,Star Wars: Episode V - The Empire Strikes Back,538375067,1980,Lucasfilm,PG,124.0,18000000.0,06-20-80,4.12,79231.0,101.0
2,1003,Star Wars: Episode VI - Return of the Jedi,475106177,1983,Lucasfilm,PG,135.0,32500000.0,05-25-83,3.98,76082.0,101.0
3,1004,Jurassic Park,1109802321,1993,Universal Pictures,PG-13,127.0,63000000.0,06-11-93,3.69,82700.0,102.0
4,1005,The Lost World: Jurassic Park,618638999,1997,Universal Pictures,PG-13,129.0,73000000.0,05-23-97,3.01,19721.0,102.0

In [32]:
df1.rename(columns={"Title":"Nombre","Lifetime Gross":"Recaudacion","Year":"Año","Studio":"Estudio","Runtime":"Duracion","Budget":"Presupuesto","ReleaseDate":"Fecha Lanzamiento"}, inplace=True)

In [36]:
df1.head()

,MovieID,Nombre,Recaudacion,Año,Estudio,Rating,Duracion,Presupuesto,Fecha Lanzamiento,VoteAvg,VoteCount,FranchiseID
0,1001,Star Wars: Episode IV - A New Hope,775398007,1977,Lucasfilm,PG,121.0,11000000.0,05-25-77,4.09,96233.0,101.0
1,1002,Star Wars: Episode V - The Empire Strikes Back,538375067,1980,Lucasfilm,PG,124.0,18000000.0,06-20-80,4.12,79231.0,101.0
2,1003,Star Wars: Episode VI - Return of the Jedi,475106177,1983,Lucasfilm,PG,135.0,32500000.0,05-25-83,3.98,76082.0,101.0
3,1004,Jurassic Park,1109802321,1993,Universal Pictures,PG-13,127.0,63000000.0,06-11-93,3.69,82700.0,102.0
4,1005,The Lost World: Jurassic Park,618638999,1997,Universal Pictures,PG-13,129.0,73000000.0,05-23-97,3.01,19721.0,102.0

In [35]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MovieID            605 non-null    object
 1   Nombre             605 non-null    object
 2   Recaudacion        605 non-null    object
 3   Año                66 non-null     object
 4   Estudio            60 non-null     object
 5   Rating             60 non-null     object
 6   Duracion           60 non-null     float64
 7   Presupuesto        60 non-null     float64
 8   Fecha Lanzamiento  60 non-null     object
 9   VoteAvg            60 non-null     float64
 10  VoteCount          60 non-null     float64
 11  FranchiseID        60 non-null     float64
dtypes: float64(5), object(7)
memory usage: 56.8+ KB

In [45]:
df1.tail(60)

,MovieID,Nombre,Recaudacion,Año,Estudio,Rating,Duracion,Presupuesto,Fecha Lanzamiento,VoteAvg,VoteCount,FranchiseID
545,1128,1043,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,1129,1043,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,1130,1044,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,1131,1044,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,1132,1044,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,1133,1045,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,1134,1045,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,1135,1045,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,1136,1046,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,1137,1046,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,1138,1046,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,1139,1047,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,1140,1047,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,1141,1047,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559,1142,1048,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560,1143,1048,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,1144,1048,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,1145,1048,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,1146,1049,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,1147,1049,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,1148,1049,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,1149,1050,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,1150,1050,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,1151,1050,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,1152,1051,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,1153,1051,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,1154,1051,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,1155,1052,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,1156,1052,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,1157,1052,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,1158,1053,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,1159,1053,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,1160,1053,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,1161,1054,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,1162,1054,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,1163,1054,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,1164,1055,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,1165,1055,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,1166,1055,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,1167,1056,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,1168,1056,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,1169,1056,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,1170,1057,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,1171,1057,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589,1172,1057,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,1173,1058,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,1174,1058,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,1175,1058,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,1176,1059,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,1177,1059,Adventure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
595,1178,1059,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,1179,1060,Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,1180,1060,Action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,1181,1060,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,FranchiseId,FranchiseName,YearBegan,Creator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,101,Star Wars,1977,George Lucas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,102,Jurassic Park,1993,Michael Crichton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,103,Wizarding World,2001,J. K. Rowling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,104,Middle Earth,2001,J. R. R. Tolkien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,105,MCU,2008,Stan Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Vamos a buscar el ejercicio donde limpiamos nulos en funcion a un porcentaje. , la columna recaudacion deberia ser un float y es un object, tenemos que trabajar con ella

In [33]:
df1.describe()

         Duracion   Presupuesto    VoteAvg     VoteCount  FranchiseID
count   60.000000  6.000000e+01  60.000000     60.000000    60.000000
mean   137.983333  1.752417e+08   3.556000  21722.266667   103.600000
std     19.022281  7.568151e+07   0.361359  23551.977668     1.596607
min     92.000000  1.100000e+07   2.640000    238.000000   101.000000
25%    125.500000  1.287500e+08   3.305000   8186.250000   102.000000
50%    135.000000  1.700000e+08   3.645000  13226.500000   104.000000
75%    147.000000  2.050000e+08   3.822500  26603.750000   105.000000
max    201.000000  4.000000e+08   4.120000  96233.000000   105.000000